body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

.hero {
  background: #1f2937;
  padding: 0px 200px 100px;
}

.header-logo,
.hero-a-header,
button{
  color: white;
}

.header {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 100px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8 ;
}

.header-list,
.hero button,
.hero-a-body {
  font-size: 18px;
}

.header-list,
.hero-a-body {
  color: #e5e7eb;
}

.hero img {
  aspect-ratio: 16/9;
  width: 50%;
  object-fit: cover;
}

.hero-a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-a-header {
  font-size: 48px;
  font-weight: 900;
}

.hero button {
  background: #3882f6;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 8px 32px;
}

.hero-a-body {
  margin: 20px 0;
}

.body-header {
  text-align: center;
  margin: 40px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.body-a {
  display: flex;
  gap: 40px;
  box-sizing: border-box;
  padding: 0px 300px;
  margin-bottom: 100px;
  text-align: center;
  color: rgb(124, 124, 124);
}

.body img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  border: #3882f6 solid 5px;
  border-radius: 20px;
}

.body-a div {
  flex: 1;
}

.body-b {
  background: #e5e7ed;
  padding: 120px 300px 100px;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  font-style: italic;
}

.quote-author {
  font-size: 26px;
  font-weight: bold;
  color: #1f2937;
  text-align: right;
  margin: 20px 0px;
  font-style: normal;
}

.body-c {
  background: #3882f6;
  margin: 75px 200px;
  padding: 50px 100px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-to-action {
  font-weight: bold;
  font-size: 26px;
}

.body-c button {
  background: #3882f6;
  border: white solid 3px;
  border-radius: 10px;
  padding: 8px 32px;
  font-size: 18px;
  font-weight: bold;
}
